@page "/"

@namespace Zdk.Client

@inherits AuthenticatedBase

@implements IAsyncDisposable

@inject HttpClient Http

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <Authorized>
        <div class="form-group">
            <label>
                Message:
                <input @bind="messageInput" size="50"/>
            </label>
        </div>
        <button @onclick="Send" disabled="@(!IsConnected)">Send</button>

        <hr>

        <ul id="messagesList">
            @foreach (var message in messages)
            {
                <li>@message</li>
            }
        </ul>

        <hr/>

        <div class="form-group">
            <label>
                Temp:
                <input @bind="tempInput" size="50"/>
            </label>
            <label>
                Summary:
                <input @bind="summaryInput" size="50"/>
            </label>
        </div>
        <button @onclick="SendData" disabled="@(!IsConnected)">Send</button>

        <hr>

        <ul id="dataList">
            @foreach (var message in data)
            {
                <li>@message.TemperatureC - @message.Summary - @message.Date</li>
            }
        </ul>
    </Authorized>
</AuthorizeView>
